<h1>WeatherApp</h1>

<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :address, "Enter an address:" %>
  <%= form.text_field :address, :value => @address %>
  <%= form.submit "SEARCH" %>
<% end %>
<% if @address %>
  <br/>
  <br/>
  <br/>
  City: <%= @city %>
  <br/>
  <br/>
  Current temperature: <%= @temperature %>
  <br/>
  <br/>
  Max temperature: <%= @max %>
  <br/>
  <br/>
  Low temperature: <%= @low %>
  <br/>
  <br/>
  Humidity: <%= @humidity %>
  <br/>
  <br/>
  Zip Code: <%= @zip_code %>
  <br/>
  <br/>
  Date: <%= Time.now %>
  <% if @cached_result %>
  <br/>
  <br/>
  Cached Result
  <% end %>
<% end %>